.bar-button-icon.theme {
    color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-theme-icon);
    font-size: 1.2em;
}

.style2 {
    .bar-button-icon.theme {
        border-top-left-radius: $bar-buttons-radius;
        border-bottom-left-radius: $bar-buttons-radius;
        background: if(
            $bar-buttons-monochrome,
            $bar-buttons-icon_background,
            $bar-buttons-theme-icon_background
        );
        padding: $bar-buttons-padding_y $bar-buttons-padding_x;
        border-top-left-radius: if(
            $bar-buttons-theme-enableBorder or $bar-buttons-enableBorders,
            $bar-buttons-radius * $bar-buttons-innerRadiusMultiplier,
            $bar-buttons-radius
        );
        border-bottom-left-radius: if(
            $bar-buttons-theme-enableBorder or $bar-buttons-enableBorders,
            $bar-buttons-radius * $bar-buttons-innerRadiusMultiplier,
            $bar-buttons-radius
        );
        &:last-child {
            border-radius: $bar-buttons-radius;
        }

        color: if($bar-buttons-monochrome, $bar-buttons-icon, $bar-buttons-theme-icon);
    }

    &.theme-container {
        .bar-button-icon.theme {
            border-top-right-radius: if(
                $bar-buttons-theme-enableBorder or $bar-buttons-enableBorders,
                $bar-buttons-radius * $bar-buttons-innerRadiusMultiplier,
                $bar-buttons-radius
            );
            border-bottom-right-radius: if(
                $bar-buttons-theme-enableBorder or $bar-buttons-enableBorders,
                $bar-buttons-radius * $bar-buttons-innerRadiusMultiplier,
                $bar-buttons-radius
            );
        }
    }
}

.bar_item_box_visible.theme {
    border: if(
        $bar-buttons-theme-enableBorder or $bar-buttons-enableBorders,
        $bar-buttons-borderSize solid
            if($bar-buttons-monochrome, $bar-buttons-borderColor, $bar-buttons-theme-border),
        0em
    );
}
